*, *::before, *::after
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body
{
  background-color: darkslateblue;
  display: flex;
  align-items: center;
  justify-content: center;

}

.header
{
  font-size: xx-large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: whitesmoke;
  font-weight: 300;
}
.wrap
{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border:1px solid green;
  flex-direction: column;
  gap: 4rem;

}

.clock
{
  width: 250px;
  height: 250px;
  border: 5px solid whitesmoke;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background: url('https://upload.wikimedia.org/wikipedia/commons/c/cf/Clock_background.png');
  background-size: contain;
  
}
.hand
{
  width: 125px;
  height: 5px;
  background-color: black;
  position: absolute;
  transform-origin: 100%;
  transform: rotate(90deg);

}

.sec
{
  background-color: red;
  transition: all ease 0.07s;

}

.min
{
  background-color: green;
  transition: all ease 3s;
}

.hour
{
  background-color: blue;
  transition: all ease 7s;
}
